@import url("https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap");

/*

font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;


*/

#navbar-site-title {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding-left: 1.2%;
}

.dash-form-field {
  border-radius: 39px;
  border-width: 1px;
  border-color: #bacad6ff;
  box-shadow: 0px 1px 2px rgba(164, 164, 164, 0.2);
}

.dash-form-field::placeholder {
  color: #c4c8ccff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

#navbar-search-form {
  width: 350px;
}
#navbar-search-field {
  width: 100%;
}

#navbar-profile img {
  border-radius: 50%;
  width: 12%;
}
